@use 'base/variables' as v;
@use 'base/mixins' as m;



.alerta {
    padding: calc( v.$separacion / 4);
    text-align: center;
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;

    &.error {
        background-color: v.$rojo;
    }
    &.exito {
        background-color: v.$verde;
    }

}